.admin-link{

display:block;

padding:14px;

margin-bottom:8px;

text-decoration:none;

color:white;

border-radius:10px;

transition:.2s;

}

.admin-link:hover{

background:#343a40;

color:#ffc107;

}

.main{

margin-left:270px;

padding:30px;

}

.card{

border:none;

border-radius:20px;

}